.heading-container {
  background-color: #db8506e3;
  padding: 0 !important;
  border-radius: 5px;
  margin-top: 50px;
  box-shadow: 0px 0px 5px #8888884f;
  overflow: hidden;
  white-space: nowrap;
}
.navleft {
  width: 20%;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
}
.navRight {
  width: 80%;
}
.logoImage {
  width: 215px;
  height: auto;
  padding: 10px 10px;
  animation: logoTop 1s ease forwards;
}
.navbar {
  padding: 0px;
  position: sticky;
  top: -60px;
  --bs-navbar-brand-margin-end: 0;
  z-index: 999;
}
.navbar-nav {
  padding-left: 30px;
  padding-right: 30px;
  list-style: none;
  width: 100%;
  justify-content: space-between !important;
  --bs-nav-link-color: black !important;
  --bs-nav-link-hover-color: white !important;
  animation: navAnimation 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.nav-link {
  animation: navAnimation 1s ease forwards;
}
.rightBoxOne {
  display: flex;
}
.rightBoxOne > .nav-link {
  padding-right: 50px !important;
}
.rightBoxTwo > .nav-link {
  padding-right: 0px;
}
.navbar-toggler-icon {
  color: white !important; /* Replace with your desired color */
}

@keyframes logoTop {
  0% {
    width: 160px;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes navAnimation {
  0% {
    font-size: 0px;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .heading-container {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
  }
  .navleft {
    width: 40%;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .logoImage {
    width: 150px;
    padding: 10px 0px;
  }
  .navbar-toggler {
    margin-right: 10px;
    color: white;
  }
  .navbar {
    position: sticky;
    top: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .heading-container {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
  }
  .navleft {
    width: 30%;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .logoImage {
    width: 250px;
    padding: 15px;
  }
  .navbar-toggler {
    margin-right: 10px;
    color: white;
  }
  .navbar {
    position: sticky;
    top: 0px;
  }
}

@media screen and (min-width: 1025px) {
}
