.footer-container {
  padding-top: 100px;
  background-color: white;
  overflow: hidden;
  white-space: nowrap;
}
.row-one {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-one > .email-section {
  /* width: 30%; */
  text-align: right;
}
.row-one > .phone-section {
  /* width: 30%; */
  text-align: left;
}
.email-phone-heading {
  font-size: 12px;
  font-weight: 600;
}
.email-phone {
  color: rgb(0 0 0 / 66%);
}
.email-phone:hover {
  color: black;
}
.row-one > .footer-logo {
  /* width: 30%; */
  padding: 0px 50px;
}

.horizontal-line {
  border-top: 1px solid rgb(85 84 84 / 50%);
  width: 60%;
}
.social-icon {
  width: 315px;
  padding: 60px 0px;
  display: flex;
  justify-content: center;
}
.icon {
  font-size: 30px;
  padding: 10px 10px;
  transition: ease-in-out 0.3s;
}
.copyright {
  padding: 35px;
  text-align: center;
  background-color: #db8506e3;
  color: rgba(0, 0, 0);
  font-size: 15px;
  font-weight: 300;
}
.copyright span {
  font-size: 16px;
  font-weight: 500;
  color: Black;
}

@media screen and (max-width: 768px) {
  .row-one > .footer-logo {
    padding: 0px 20px;
  }
  .footer-logo-img {
    width: 100px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .row-one > .footer-logo {
    padding: 0px 20px;
  }
  .footer-logo-img {
    width: 200px;
  }
}

@media screen and (min-width: 1025px) {
}
