.footer-container {
  padding-top: 100px;
  background-color: white;
  overflow: hidden;
  white-space: nowrap;
}
.row-one {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.email-section {
  text-align: right;
}
div.phone-section {
  text-align: left;
}
.email-phone-heading {
  font-size: 12px;
  font-weight: 600;
}
.email-phone {
  color: rgb(0 0 0 / 66%);
}
.email-phone:hover {
  color: black;
}
.footer-logo {
  padding: 0px 50px;
}

.horizontal-line {
  border-top: 1px solid rgb(85 84 84 / 50%);
  width: 60%;
}
.social-icon {
  width: 315px;
  padding: 60px 0px;
  display: flex;
  justify-content: center;
}
.icon {
  font-size: 30px;
  padding: 10px 10px;
  transition: ease-in-out 0.3s;
}
.copyright {
  padding: 35px;
  text-align: center;
  background-color: #db8506e3;
  color: rgba(0, 0, 0);
  font-size: 15px;
  font-weight: 300;
}
.copyright span {
  font-size: 16px;
  font-weight: 500;
  color: Black;
}

@media screen and (max-width: 768px) {
  .footer-logo {
    padding: 0px 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
}

@media screen and (min-width: 1025px) {
}
