/* .carousel-root {
  margin-top: -195px;
} */
.hero-section-left {
  margin-top: -195px;
}
.landing-page {
  display: flex;
  width: 100%;
  height: 430px;
}
.hero-section-right {
  padding: 45px;
  width: 25%;
}
.content-right {
  margin-bottom: 10px;
}
.content-heading {
  font-size: 20px;
  color: black;
  margin-bottom: 10px;
}
.content-desccription {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.527);
}
.hero-section-left {
  width: 75%;
}
.basic-service {
  background-image: url("../../images/bg-1.webp");
  width: 100%;
  padding-top: 60px;
}
.content-right:hover .content-heading {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #1c97cb;
}
.Welcome-section {
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  .hero-section-left {
    margin-top: 0px;
  }

  .landing-page {
    display: flex;
    flex-direction: column;
  }
  .hero-section-left {
    width: 100%;
  }
  .hero-section-right {
    padding: 45px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .carousel-root {
    margin-top: 0px;
  }
  .landing-page {
    display: flex;
    flex-direction: column;
  }
  .hero-section-left {
    width: 100%;
  }
  .hero-section-right {
    padding: 45px;
    width: 100%;
  }
}

@media screen and (min-width: 1025px) {
}
