.welcome-row {
  align-items: center;
}
.welcome-img-main-box {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}
.welcome-img-inner-box {
  position: absolute;
  top: 5%;
  left: -7%;
  /* border: 5px solid #db8506e3; */
  /* background-color: #db8506e3; */

  background: linear-gradient(184deg, #060905, #ffffff, #df9221);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 18s ease infinite;
  -moz-animation: AnimationName 18s ease infinite;
  -o-animation: AnimationName 18s ease infinite;
  animation: AnimationName 18s ease infinite;
  width: 100%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
}
.welcome-img-box {
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 0px 25px 25px 0px;
}
.Welcome-img {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 53% 0%;
  }
  50% {
    background-position: 48% 100%;
  }
  100% {
    background-position: 53% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 53% 0%;
  }
  50% {
    background-position: 48% 100%;
  }
  100% {
    background-position: 53% 0%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 53% 0%;
  }
  50% {
    background-position: 48% 100%;
  }
  100% {
    background-position: 53% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 53% 0%;
  }
  50% {
    background-position: 48% 100%;
  }
  100% {
    background-position: 53% 0%;
  }
}

.welcome-text-content {
  padding: 10px 50px;
}
.welcome-text {
  margin-bottom: 20px;
  display: inline-block;
}
.welcome-text > h4 {
  font-family: sans-serif;
  color: #1c97cb;
}

.welcome-underline {
  border-top: 5px solid #db8506e3;
  width: 40%;
}
.welcome-heading {
  width: 90%;
  margin-bottom: 30px;
}
.welcome-heading > h2 {
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 500;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0px 5px;
  display: inline-block;
  animation: dotAnimation 2.5s ease-in-out infinite;
  background-color: #db8506e3; /* Dot color */
}

.dot1 {
  animation-delay: 0s;
}
.dot2 {
  animation-delay: 0.2s;
}
.dot3 {
  animation-delay: 0.4s;
}

@keyframes dotAnimation {
  0% {
    transform: scale(0.2);
    background-color: #060905b4;
  }
  50% {
    transform: scale(1);
    background-color: #db8506e3;
  }
  100% {
    transform: scale(0.2);
    background-color: #060905b4;
  }
}

.welconme-description {
  text-align: justify;
  color: rgb(0 0 0 / 84%);
  margin-bottom: 60px;
  line-height: 25px;
  font-size: 16px;
}

.welconme-button {
  display: inline-block;
  border: 1px solid rgb(0 0 0 / 60%);
  color: rgb(0 0 0 / 60%);
  padding: 15px 25px;
  font-size: 20px;
  transition: 1s;
  margin-top: 0px;
}
.welconme-button:hover {
  background-color: #db8506e3;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  /* .welcome-img-main-box {
    padding: 50px;
  } */
  .welcome-row {
    padding: 30px;
  }
  .welcome-text-content {
    margin-top: 50px;
  }
  .welcome-heading {
    width: 100%;
  }
  .welcome-heading > h2 {
    font-size: 30px;
  }
  .welcome-text-content {
    padding: 0px 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .welcome-heading {
    width: 100%;
    margin-bottom: 30px;
  }
  .welcome-heading > h2 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 500;
  }
  .welcome-text-content {
    padding: 10px 20px;
  }
}

@media screen and (min-width: 1025px) {
}
