@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.my-text {
  font-family: "Inter", sans-serif;
}

:root {
  --color-border: #424242;
  --color-bg: #ffffff;
}

body {
  background-color: var(--color-bg);
  position: relative;
}
a {
  text-decoration: none;
}

.my-element {
  border: 1px solid var(--color-border);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

input ::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* input[type="number"] {
  -moz-appearance: textfield;
} */

.greenColor {
  color: green;
}
.redColor {
  color: red;
}
.active {
  color: white; /* Change the color of the active link */
  text-decoration: underline; /* Apply the underline effect to the active link */
}

/* Standard styles for all screen sizes */

@media screen and (max-width: 768px) {
  /* Styles for screens with a width of 768px or smaller */
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles for screens with a width between 768px and 1024px */
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 1025px) {
  /* Styles for screens with a width larger than 1024px */
  body {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
}

@media screen and (min-width: 1025px) {
}
